# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.angular
/libs/sdk/rucken-rest-sdk/src/lib/generated
/libs/sdk/rucken-rest-sdk-angular/src/lib/generated