RUCKEN_PORT=3000
RUCKEN_ROOT_DATABASE_URL=postgres://postgres:postgres_password@localhost:5432/postgres?schema=public
RUCKEN_WEBHOOK_DATABASE_URL=postgres://webhook:webhook_password@localhost:5432/webhook?schema=public
RUCKEN_CLIENT_MINIO_URL=http://localhost:9000
RUCKEN_SSO_ADMIN_EMAIL=rucken@site15.ru
RUCKEN_SSO_ADMIN_USERNAME=admin
RUCKEN_SSO_ADMIN_PASSWORD=SbxcbII7RUvCOe9TDXnKhfRrLJW5cGDA
RUCKEN_MINIO_URL=http://localhost:9000
RUCKEN_MINIO_SERVER_HOST=localhost
RUCKEN_MINIO_ACCESS_KEY=FWGmrAGaeMKM
RUCKEN_MINIO_SECRET_KEY=QatVJuLoZRARlJguoZMpoKvZMJHzvuOR
RUCKEN_MINIO_ROOT_USER=FWGmrAGaeMKM
RUCKEN_MINIO_ROOT_PASSWORD=QatVJuLoZRARlJguoZMpoKvZMJHzvuOR
RUCKEN_SSO_DATABASE_URL=postgres://sso:sso_password@localhost:5432/sso?schema=public
RUCKEN_KEYV_URL=redis://:CHmeOQrZWUHwgahrfzsrzuREOxgAENsC@localhost:6379
RUCKEN_REDIS_URL=redis://:CHmeOQrZWUHwgahrfzsrzuREOxgAENsC@localhost:6379
RUCKEN_SSO_ADMIN_SECRET=VfKSfPPljhHBXCEohnitursmgDxfAyiD
RUCKEN_TWO_FACTOR_DATABASE_URL=postgres://two_factor:two_factor_password@localhost:5432/two-factor
RUCKEN_NOTIFICATIONS_DATABASE_URL=postgres://notifications:notifications_password@localhost:5432/notifications
RUCKEN_NOTIFICATIONS_MAIL_TRANSPORT=smtp://localhost:1025
RUCKEN_NOTIFICATIONS_MAIL_DEFAULT_SENDER_NAME=Bot
RUCKEN_NOTIFICATIONS_MAIL_DEFAULT_SENDER_EMAIL=bot@rucken.maildev
RUCKEN_SSO_DEFAULT_PROJECT='default:ru=по умолчанию,KzMRNEZTetzatIgQPVSDYfeGyaZrbLzkcxNc,qaHkVpAtUVIpDdLXMlAOzsBfMRJblWoHpXguYQRBuSEBpGKbWt'
RUCKEN_SSO_SERVER_URL=http://localhost:3000
RUCKEN_SSO_DISABLE_EMAIL_VERIFICATION=true
RUCKEN_SSO_CLIENT_URL=http://localhost:4200
RUCKEN_SSO_GOOGLE_OAUTH_CLIENT_ID=398269279071-8qham4ugutqqcsh220tj73n9u6f0vdbe.apps.googleusercontent.com
RUCKEN_SSO_GOOGLE_OAUTH_CLIENT_SECRET_KEY=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
RUCKEN_POSTGRE_SQL_POSTGRESQL_USERNAME=postgres
RUCKEN_POSTGRE_SQL_POSTGRESQL_PASSWORD=postgres_password
RUCKEN_POSTGRE_SQL_POSTGRESQL_DATABASE=postgres
RUCKEN_REDIS_REDIS_DATABASE=0
RUCKEN_REDIS_REDIS_PASSWORD=CHmeOQrZWUHwgahrfzsrzuREOxgAENsC
RUCKEN_MINIO_MINIO_ROOT_USER=FWGmrAGaeMKM
RUCKEN_MINIO_MINIO_ROOT_PASSWORD=QatVJuLoZRARlJguoZMpoKvZMJHzvuOR
E2E_CLIENT_URL=http://localhost:4200
E2E_SERVER_URL=http://localhost:3000
RUCKEN_SSO_DEFAULT_PUBLIC_PROJECTS=